{{header}}

<h1>Redefinição de Senha</h1>
<p>Olá {{customerName}},</p>
<p>Recebemos uma solicitação para redefinir sua senha. Clique no link para continuar: {{resetLink}}</p>

<p>Para criar uma nova senha, clique no link: <a href="{{resetLink}}">{{resetLink}}</a></p>
{{footer}}
